:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --main-page-color: #28c971;
  --main-option-color: #32cb77;
  --main-option-color-dark: #1e9353;
  /* #4BE9B0 */
  --main-text-color: #52526D;
  --main-text-color-light: #a0a0b1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
