.home{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(253, 253, 253);
  box-sizing: border-box;
  padding-inline: 10%;
}

.title-container {
  color: var(--main-text-color);
}

.title-container h1{
  font-size: 4rem;
}

.title-container ul {
  margin-left: 4%;
}

.title-container li{
  font-size: 1.3rem;
  margin-block: 2.5%;
  list-style-type:none;
  list-style-image: url("../public/li.svg");
}

.selection-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.options{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options h1 {
  margin-bottom: 7.5%;
  text-align: center;
  color: var(--main-text-color);
}

.options div {
  color: white;
  cursor: pointer;
  margin-bottom: 7.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-page-color);
  box-sizing: border-box;
  padding: 3%;
  text-align: center;
  border-radius: 1.6rem;
  box-shadow: 0px 5px 5px 0px rgb(150, 150, 150);
}

@media (max-width: 649px) {
  .selection-container{
    flex-direction: column;
  }
  .options {
    margin-top: 10%;
    width: 100%;
  }

  .options div {
    width: 100%;
  }
}